# 1. Игнорируем абсолютно всё в текущей директории
/*

# 2. Но не игнорируем сам файл .gitignore
!.gitignore

# 3. Делаем исключение для нужных папок (обязательно с косой чертой в конце)
!/nvim/
!/hypr/
!/kitty/
!/rofi/
!/waybar/
!/yazi/
!/fastfetch/
