* {
    border: none;
    border-radius: 0px;

    font-family: "Dejavu sans mono";
    font-size: 14px;
    font-weight: 600;

    min-height: 0;
    padding: 0;
    margin: 1px 0 0 0;
}

window#waybar {
    background: transparent;
}


tooltip {
    background: #090A0D;
    border: 1px solid #37373e;
    border-radius: 8px;
}

tooltip label {
    color: #E1CCC4;
    padding: 0 8px 0 0;
}


#workspaces {
    background-color: #090A0D;
    padding: 6px 4px;
    margin: 0 0 0 12px;
    border-radius: 9px;
    border: 1px solid #37373e;
}

#workspaces button {
    padding: 1px 10px;
    margin: 0px 4px;
    border-radius: 8px;
    color: transparent;
    background-color: #777380;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {

    background-color: #cc7788;
    color: #090A0D;
    min-width: 55px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;

}

#workspaces button:hover {
    background-color: #e1afb9;
    color: #090A0D;
    border-radius: 8px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: #BF2626;
    color: #E1CCC4;
    border-radius: 9px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#backlight,
#battery,
#pulseaudio,
#network,
#temperature {
    color: #E1CCC4;
    background-color: #090A0D;
    padding: 0 22px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 10px;
    border: 1px solid #37373e;
}


#battery {
    margin: 0 12px 0 12px
}

#battery.warning {
    color: #F29B88;
}

#battery.critical {
    color: #BF2626;
}

#battery.charging {
    color: #99d38a;
}

#clock {
    color: #E1CCC4;
    background-color: #090A0D;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 10px;
    border: 1px solid #37373e;
    font-size: 15px;

}

#temperature.warning {
    color: #F29B88;
}

#temperature.critical {
    color: #BF2626;
}
